<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo['title']}</title>
<meta name="viewport" content="width=1200" />
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<meta name="viewport" content="width=1200" />
<link rel="shortcut icon" type="image/ico" href="{$pe['host_root']}favicon.ico">
<link type="text/css" rel="stylesheet" href="{$pe['host_tpl']}css/style.css" />
<script type="text/javascript" src="{$pe['host_root']}public/js/jquery.js"></script>
<script type="text/javascript" src="{$pe['host_root']}public/js/global.js"></script>
<script type="text/javascript" src="{$pe['host_root']}public/plugin/layer/layer.js"></script>
</head>
<body>
<div class="quick_menu">
	<div class="width980">
		<span class="fl">Chào mừng bạn đến{$cache_setting['web_title']}！</span>
		<div class="fr top_r">
			<!--{if(pe_login('user')):}-->
			Xin chào：<a href="{$pe['host_root']}user.php" style="color:#DF002F;padding:0;border:0">{$_s_user_name}</a>
			<a href="{$pe['host_root']}user.php?mod=do&act=logout" title="Đăng xuất" style="padding-left:0;color:#999">[Đăng xuất]</a>
			<!--{else:}-->
			<a href="{$pe['host_root']}user.php?mod=do&act=login&{pe_fromto()}" title="Đăng nhập">Đăng nhập</a>
			<a href="{$pe['host_root']}user.php?mod=do&act=register&{pe_fromto()}" title="Đăng ký">Đăng ký miễn phí</a>
			<!--{endif;}-->	
			
			<a href="{$pe['host_root']}user.php?mod=order" title="Đơn hàng của tôi" class="scj">Đơn hàng của tôi</a>
			<a href="{pe_url('article-news')}" title="Trung tâm thông tin" style="border-right:0;">Trung tâm thông tin</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!--{if($mod!='sign'):}-->
<div style="background:#E45050; padding-bottom:20px; position:relative">
<div class="width980">
	<div class="fl logo">
		<a href="{$pe['host_root']}user.php">Trung tâm thành viên</a>
	</div>
	<div class="user_nav">
		<li><h3><a href="{$pe['host_root']}" title="Trang đầu">Trang đầu</a></h3></li>
		<!--{foreach((array)$cache_menu as $v):}-->
		<li><h3><a href="{$v['menu_url']}" title="{$v['menu_name']}" {$v['target']}>{$v['menu_name']}</a></h3></li>
		<!--{endforeach;}-->
	</div>
	<div class="sear fr">				
		<form method="get" action="{$pe['host_root']}index.php">
		<input type="hidden" name="mod" value="product" />
		<input type="hidden" name="act" value="list" />
		<div class="inputbg fl"><input type="text" name="keyword" value="{htmlspecialchars($_g_keyword)}" class="fl searinput c666" /></div>
		<input type="submit" class="fl sear_btn" onclick="this.form.submit();return false;" value="Tìm kiếm" />
		</form>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
</div>
<!--{endif;}-->