<!--{include(pe_tpl('header.html'));}-->
<div class="huiyuan_content">
	<!--{include(pe_tpl('user_menu.html'));}-->
	<div class="fr huiyuan_main">
		<div class="hy_tt">
			<a href="{$pe['host_root']}user.php?mod=order" <!--{if(!$_g_state):}-->class="sel"<!--{endif;}-->>Tất cả các đơn đặt hàng<span>({$tongji['all']})</span><i></i></a> |
			<a href="{$pe['host_root']}user.php?mod=order&state=wpay" <!--{if($_g_state=='wpay'):}-->class="sel"<!--{endif;}-->>Chờ thanh toán<span>({$tongji['wpay']})</span><i></i></a> |
			<a href="{$pe['host_root']}user.php?mod=order&state=wsend" <!--{if($_g_state=='wsend'):}-->class="sel"<!--{endif;}-->>Chờ giao hàng<span>({$tongji['wsend']})</span><i></i></a> |
			<a href="{$pe['host_root']}user.php?mod=order&state=wget" <!--{if($_g_state=='wget'):}-->class="sel"<!--{endif;}-->>Chờ giao hàng<span>({$tongji['wget']})</span><i></i></a> |
			<a href="{$pe['host_root']}user.php?mod=order&state=success" <!--{if($_g_state=='success'):}-->class="sel"<!--{endif;}-->>Giao dịch hoàn tất<span>({$tongji['success']})</span><i></i></a> |
			<a href="{$pe['host_root']}user.php?mod=order&state=wpj" <!--{if($_g_state=='wpj'):}-->class="sel"<!--{endif;}-->>Đang chờ đánh giá<span>({$tongji['wpj']})</span><i></i></a>
		</div>
		<div class="mat15">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_ordertt1">
			<tr>
				<td>Thông tin sản phẩm</td>
				<td width="100">Hoàn tiền / trả hàng</td>
				<td width="121">Thanh toán thực tế (Việt nam đồng)</td>
				<td width="101">Trang thái</td>
				<td width="101">Thao tác</td>
			</tr>
			</table>
		</div>
		<!--{foreach($info_list as $v):}-->
		<div class="hy_ordertt">
			<span class="fl">{pe_date($v['order_atime'])}</span>
			<span class="fl" style="margin-left:30px">Mã số đặt đơn hàng：{$v['order_id']}</span>
			<!--{if($v['pintuan_id'] && $v['order_pstate']):}-->
			<span class="fr mar10">Mã số tham gia nhóm：<a href="{$pe['host_root']}index.php?mod=order&act=pintuan&id={$v['pintuan_id']}" target="_blank">{$v['pintuan_id']}</a></span>
			<!--{endif;}-->
			<div class="clear"></div>
		</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_orderlist">
		<tr>
			<td style="text-align:left;">
				<!--{foreach($v['product_list'] as $kk=>$vv):}-->
				<div class="dingdan_list" <!--{if($kk==0):}-->style="padding-top:0;border-top:0"<!--{endif;}-->>
					<a href="{pe_url('product-'.$vv['product_id'])}" class="fl mar5 dingdan_img" target="_blank"><img src="{pe_thumb($vv['product_logo'], 100, 100)}" /></a>
					<div class="fl dingdan_name">
						<!--{if($v['order_type']=='pintuan'):}--><span class="tag_pintuan">Tham gia vào một nhóm</span><!--{endif;}-->
						<a href="{pe_url('product-'.$vv['product_id'])}" target="_blank" class="dd_name">{$vv['product_name']}</a>
						<p class="c888 mat5">{order_skushow($vv['product_rule'])}</p>
					</div>
					<div class="fl dingdan_jg">₫{$vv['product_money']} <span class="mat5 c888 font12">×{$vv['product_num']}</span></div>
					<div class="fr dingdan_tk">
						<!--{if($vv['refund_id']):}-->
						<a href="user.php?mod=refund&act=view&id={$vv['refund_id']}" target="_blank">{refund_stateshow($vv['refund_state'])}</a>
						<!--{elseif(in_array($v['order_state'], array('wsend', 'wget')) && $v['recovery_status'] == null):}-->
						<a href="user.php?mod=refund&act=add&id={$vv['orderdata_id']}" onclick="return pe_dialog(this, 'Yêu cầu hoàn tiền / trả hàng ', 600, 400)">Hoàn tiền / trả hàng</a>	
                        <!--{elseif($v['recovery_status'] != null):}-->
						<a href="#">Thu hồi đơn hàng không thao tác được</a>
						<!--{endif;}-->
					</div>
					<div class="clear"></div>
				</div>
				<!--{endforeach;}-->
			</td>
			<td width="120">
				<p class="corg font14 strong">{$v['order_money']}</p>
				<p class="c999">（Bao gồm phí vận chuyển：{$v['order_wl_money']}）</p>
				<p class="c999">{$v['order_payment_name']}</p>
			</td>
			<td width="100">
				<!--{if($v['recovery_status'] == null):}-->
				{order_stateshow($v['order_state'])}
				<!--{elseif($v['recovery_status'] != null):}-->
				<p>
					<!--{if($v['recovery_status']==0):}-->
					<span class="cblue">Đang thu hồi</span>
					<!--{elseif($v['recovery_status']==1):}-->
					<span class="cred">Thu hồi thất bại</span>
					<!--{else:}-->
					<span class="cgreen">Đã nhận lại</span>
					<!--{endif;}-->
				</p>
				<!--{endif;}-->
				<p><a href="user.php?mod=order&act=view&id={$v['order_id']}" target="_blank">Chi tiết đơn hàng</a></p>
			</td>
			<td width="100">
				<!--{if($v['order_state'] == 'wpay'):}-->
				<a class="tag_org" href="index.php?mod=order&act=pay&id={$v['order_id']}" target="_blank">Thanh toán ngay lập tức</a>
				<p class="mat5"><a class="c999" href="user.php?mod=order&act=close&id={$v['order_id']}" onclick="return pe_dialog(this, 'Hủy đơn hàng', 550, 400)">Hủy đơn hàng</a></p>
				<!--{elseif($v['order_state'] == 'wget' && $v['order_payment'] != 'cod'):}-->
				<a class="tag_green" href="javascript:pe_confirm('Đã được nhận hàng', 'user.php?mod=order&act=success&id={$v['order_id']}&token={$pe_token}');">Xác nhận việc nhận hàng</a>
				<!--{elseif($v['order_state'] == 'success' && !$v['order_comment']):}-->
				<a class="tag_gray" href="user.php?mod=order&act=comment&id={$v['order_id']}" onclick="return pe_dialog(this, 'Cho ra đánh giá', 800, 500)">Cho ra đánh giá</a>
				<!--{else:}-->
				-
				<!--{endif;}-->
			</td>
		</tr>
		</table>
		<!--{endforeach;}-->
		<div class="fenye mat10">{$db->page->html}</div>
	</div>
	<div class="clear"></div>
</div>
<!--{include(pe_tpl('footer.html'));}-->