<!--{include(pe_tpl('header.html','admin'));}-->
<style>
	.do_btn {
		/* background: #09C878 url(../images/fabu_jia.png) no-repeat 6px 3px; */
		padding: 0 10px 0 10px;
		color: #00c874;
		float: right;
		margin: 8px 10px 0 0;
		height: 26px;
		min-width: 26px;
		_width: 10px;
		line-height: 25px;
		border: 1px solid #00c874;
		border-radius: 18px;
		font-size: 12px;
		cursor:pointer
	}
</style>
<div class="right">
	<!-- <div class="now">
		<a href="javascript:;" class="sel">{$menutitle}<i></i></a>
		<div class="clear"></div>
	</div> -->
	<form method="post" id="form">
		<div class="now">
			<a href="javascript:;" class="sel">所有商品（<span id="product_num">{count($info_list)}</span>）<i></i></a>
			<div id="zk_btn" class="do_btn">批量设置折扣</div>
			<div id="kc_btn" class="do_btn">批量设置库存</div>
			<!-- <input type="button" value="批量设置折扣" id="zk_btn" class="fr" style="margin:10px 180px 0 0" /> -->
			<div class="clear"></div>
		</div>
		<div class="right_main">
			<table border="0" cellspacing="0" cellpadding="0" class="list" id="product_list">
				<tr>
					<th class="bgtt" width="50">ID号</th>
					<th class="bgtt" width="40"></th>
					<th class="bgtt" width="">商品名称</th>
					<th class="bgtt" width="100">单价(元)</th>
					<th class="bgtt" width="150">折扣&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th class="bgtt" width="100">回收价格(元)</th>
					<th class="bgtt" width="100">库存</th>
					<!-- <th class="bgtt" width="100">操作</th> -->
				</tr>
				<!--{foreach($info_list as $v):}-->
				<tr class="js_product" id="{$v['product_id']}" product_smoney="{$v['product_smoney']}">
					<td>{$v['product_id']}<input type="hidden" name="product_id[]" value="{$v['product_id']}" /></td>
					<td><img src="{pe_thumb($v['product_logo'], 100, 100)}" width="40" height="40" class="imgbg" /></td>
					<td class="aleft"><a href="{pe_url('product-'.$v['product_id'])}" target="_blank"
							class="cblue">{$v['product_name']}</a></td>
					<td>{$v['product_smoney']}</td>
					<td><input type="text" name="" value="{$v['product_zhe']}"
							class="inputall input40 center js_zhe" /> 折</td>
					<!-- <td><span class="js_money corg">{$v['product_rmoney']}</span></td> -->
                    <td><input type="text" class="inputall input40 js_sl js_money" name="product_rmoney[{$v['product_id']}]"
                        value="{$v['product_rmoney']}" /></td>
					<td><input type="text" class="inputall input40 js_kc" name="product_num[{$v['product_id']}]"
							value="{$v['product_num']}" /></td>
					<!-- <td><a href="javascript:;" class="admin_btn">删除</a></td> -->
				</tr>
				<!--{endforeach;}-->
			</table>
		</div>
		<div class="center mat20 mab10">
			<input type="hidden" name="pe_token" value="{$pe_token}" />
			<input type="hidden" name="pesubmit" />
			<input type="submit" value="提 交" class="tjbtn submit_add" />
		</div>
	</form>
</div>
<script type="text/javascript" src="{$pe['host_root']}public/plugin/my97/WdatePicker.js"></script>
<script type="text/javascript">
	$(function () {
		$("#product_list .admin_btn").live("click", function () {
			$(this).parents("tr").remove();
			$("#product_num").html($(".js_product").length);
		})
		$(".huodong_tag").click(function () {
			$(":input[name='info[huodong_tag]']").val($(this).text());
		})
		/*$(".js_zhe").each(function(){
			js_money($(this));
		})*/
		$(".js_zhe").live("keyup", function () {
			js_money($(this));
		})
		$("#zk_btn").click(function () {
			var _val = prompt('批量打折（如：打85折，请输入8.5折）\n\n');
			if (_val == '') {
				alert('请输入折扣值');
				return false;
			}
			$(".js_zhe").val(pe_num(_val, 'floor', 1));
			$(".js_zhe").each(function () {
				js_money($(this));
			})
		})
		$("#kc_btn").click(function () {
			var _val = prompt('批量设置数量\n\n');
			if (_val == '') {
				alert('请输入数量');
				return false;
			}
			$(".js_kc").val(pe_num(_val, 'floor', 1));
			
		})
		$(".js_money").keyup(function(){
			var _tr = $(this).parents("tr");
			var zhe = pe_num(pe_num($(this).val(), 'floor', 1) / pe_num(_tr.attr("product_money"), 'floor', 1) * 100 , 'int');
			
            _tr.find(".js_zhe").val(zhe);
		})
		$('.submit_add').on('click', function (e) {
			if (e.stopPropagation) e.stopPropagation();
			if (e.preventDefault) e.preventDefault();
			$('#form').submit();
			return false;
		})
	})
	function js_money(_this) {
		var _tr = _this.parents("tr");
		var money = pe_num(pe_num(_this.val(), 'floor', 1) / 10 * pe_num(_tr.attr("product_smoney"), 'floor', 1), 'round', 1);

        _tr.find(".js_money").val(money);
	}

	function changeDate(target) {
		var idx = $(target).val();
		$('.dateid').val($('.dateselect option').eq(idx).data('id'));
		$('.datestart').val($('.dateselect option').eq(idx).data('start'));
		$('.dateend').val($('.dateselect option').eq(idx).data('end'));
	}
	function formatInt(event) {
		event.value = event.value.replace(/[^0-9]/g, '');
	}
</script>
<!--{include(pe_tpl('footer.html','admin'));}-->