
<!--{include(pe_tpl('header.html','admin'));}-->
<div class="right">
	<div class="now">
		<a href="javascript:;" class="sel">{$menutitle}<i></i></a>
		<div class="clear"></div>
	</div>
	<form method="post" id="form" enctype="multipart/form-data">
		<div class="right_main">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
				<tr>
					<td align="right" width="150">活动标签：</td>
					<td>
						<input type="text" name="info[huodong_tag]" value="{$info['huodong_tag']}" class="inputall input150" />
						<span class="c999 mal10">（推荐标签：
							<!--{foreach($ini['huodong_tag'] as $v):}-->
				<a href="javascript:;" class="huodong_tag cblue" style="text-decoration:underline">{$v}</a>
							<!--{endforeach;}-->）</span>
					</td>
				</tr>
				<tr>
					<td align="right">套餐图片：</td>
					<td>
						<p><img src="{pe_thumb($info['huodong_pic'])}" width="200" height="200" style="border:1px solid #ddd" /></p>
						<p><input type="file" name="huodong_pic" /></p>
					</td>
				</tr>
				<tr>
					<td align="right">套餐价格：</td>
					<td><input type="text" name="info[huodong_price]" value="{$info['huodong_price']}" class="inputall input150" /></td>
				</tr>
				<tr>
					<td align="right">活动说明：</td>
					<td><input type="text" name="info[huodong_desc]" value="{$info['huodong_desc']}" class="inputall input350" /></td>
				</tr>
			</table>
		</div>
		<div class="now">
			<a href="javascript:;" class="sel">套餐商品（<span id="product_num">{count($info_list)}</span>）<i></i></a>
			<a href="webadmin.php?mod=taocan&act=product_list&id={$info['huodong_id']}" onclick="return pe_dialog(this, '选择商品', 900, 600)" id="fabu">选择商品</a>
			<div class="clear"></div>
		</div>
		<div class="right_main">
			<table border="0" cellspacing="0" cellpadding="0" class="list" id="product_list">
				<tr>
					<th class="bgtt" width="50">ID号</th>
					<th class="bgtt" width="40"></th>
					<th class="bgtt" width="">商品名称</th>
					<th class="bgtt" width="150">原价(元)</th>
					<th class="bgtt" width="200">操作</th>
				</tr>
				<!--{foreach($info_list as $v):}-->
				<tr class="js_product product_id" id="{$v['product_id']}">
						<td>{$v['product_id']}<input type="hidden" name="product_id[]" value="{$v['product_id']}" /></td>
						<td><img src="{pe_thumb($v['product_logo'])}" width="40" height="40" class="imgbg" /></td>
						<td class="aleft"><a href="{pe_url('product-'.$v['product_id'])}" target="_blank" class="cblue">{$v['product_name']}</a></td>
						<td>{$v['product_smoney']}</td>
						<td><a href="javascript:;" class="admin_btn">删除</a></td>
				</tr>
				<!--{endforeach;}-->
			</table>
		</div>
		<div class="center mat20 mab10">
			<input type="hidden" name="pe_token" value="{$pe_token}" />
			<input type="hidden" name="pesubmit" />
			<input type="button" value="提 交" class="tjbtn" />
		</div>
	</form>
</div>
<script type="text/javascript" src="{$pe['host_root']}public/plugin/my97/WdatePicker.js"></script>
<script type="text/javascript">
	$(function(){
		$("#product_list .admin_btn").live("click", function(){
			$(this).parents("tr").remove();
			$("#product_num").html($(".js_product").length);
		})
		$(".huodong_tag").click(function(){
			$(":input[name='info[huodong_tag]']").val($(this).text());
		})
		//add_product('product_info', '{$huodong_id}');
		$(":button").click(function(e){
			if (e.stopPropagation) e.stopPropagation();
			if (e.preventDefault) e.preventDefault();
			if (!$(":input[name='info[huodong_price]']").val()) {
				pe_tip('请填写套餐价格');
				return false;
			}
			/*if (!$('.dateselect').val()) {
				pe_tip('请选择活动时间');
				return false;
			}*/
			/*if (!$(":input[name='product_id[]']").val()) {
				pe_tip('请选择拼团商品');
				return false;
			}
			if (!$(":input[name='product_ptnum']").val()) {
				pe_tip('请填写成团人数');
				return false;
			}*/
			$("#form").submit();
		})
	})
	function add_product(act, id) {
		pe_getinfo('webadmin.php?mod=taocan&act='+act+'&id='+id, function(json){
			pe_jsontpl('product_list', json);
		})
	}
	function changeDate(target) {
		var idx = $(target).val();
		$('.dateid').val($('.dateselect option').eq(idx).data('id'));
		$('.datestart').val($('.dateselect option').eq(idx).data('start'));
		$('.dateend').val($('.dateselect option').eq(idx).data('end'));
	}
</script>
<!--{include(pe_tpl('footer.html','admin'));}-->