
<!--{include(pe_tpl('header.html'));}-->
<div class="pagetop">
	<div class="fh"><a href="javascript:app_iframe_close();"></a></div>
	<div>Hủy đơn hàng</div>
</div>
<div class="content">
	<form method="post" id="form">
	<div class="zc_box2 mat10">
		<div class="zc_list">
			<div class="zc_name">Mã số đơn đặt hàng</div>
			<div class="zc_text">{$info['order_id']}</div>
		</div>
		<div class="zc_list">
			<div class="zc_name">Số tiền thực chi trả</div>
			<div class="zc_text">{$info['order_money']} 元</div>
		</div>
		<div class="zc_list">
			<div class="zc_name">Phương thức thanh toán</div>
			<div class="zc_text">{$info['order_payment_name']}</div>
		</div>	
		<div class="zc_list zc_textarea">
			<div class="zc_name">Lý do hủy bỏ</div>
			<div class="zc_text"><textarea type="text" name="order_closetext" placeholder="Vui lòng điền vào lý do hủy" /></textarea></div></div>
		</div>
	</div>
	<div class="loginbtn" style="margin:20px;">
		<input type="hidden" name="pe_token" value="{$pe_token}" />
		<input type="hidden" name="pesubmit" />
		<input type="button" value="Gửi" />
	</div>
	</form>
</div>
<script type="text/javascript">
$(function(){
	$(":button").click(function(){
		if ($(":input[name='order_closetext']").val() == '') {
			app_tip('Vui lòng điền vào lý do hủy');
			return false;
		}
		app_submit('{pe_nowurl()}', function(json){
			if (json.result) app_iframe_close(true, 1000);
		})
	})
})
</script>
<!--{include(pe_tpl('footer.html'));}-->